USE [master]
GO
/****** Object:  Database [sportcenter]    Script Date: 10/7/2021 10:40:03 PM ******/
CREATE DATABASE [sportcenter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sportcenter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\sportcenter.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sportcenter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\sportcenter_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sportcenter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sportcenter]
GO
/****** Object:  Table [dbo].[account]    Script Date: 10/7/2021 10:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NULL,
	[password] [varchar](100) NULL,
 CONSTRAINT [pk01_ac] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 10/7/2021 10:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idBookinginfo] [int] NULL,
	[idBuyinginfo] [int] NULL,
	[totalmoney] [money] NULL,
 CONSTRAINT [pk01_bill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookingInfo]    Script Date: 10/7/2021 10:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookingInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idField] [int] NULL,
	[starttime] [datetime] NULL,
	[endtime] [datetime] NULL,
 CONSTRAINT [pk01_bi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buyingInfo]    Script Date: 10/7/2021 10:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buyingInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idGood] [int] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [pk01_buy] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[field]    Script Date: 10/7/2021 10:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[field](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idType] [int] NULL,
	[name] [nvarchar](100) NULL,
	[condition] [nvarchar](100) NULL,
 CONSTRAINT [pk01_f] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fieldtype]    Script Date: 10/7/2021 10:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fieldtype](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[price] [money] NULL,
 CONSTRAINT [pk01_ft] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[good]    Script Date: 10/7/2021 10:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[good](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[unit] [nvarchar](100) NULL,
	[price] [money] NULL,
	[idImage] [int] NULL,
 CONSTRAINT [pk01_gd] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 10/7/2021 10:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[url] [varchar](100) NULL,
	[idGood] [int] NULL,
 CONSTRAINT [pk01_image] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [fk01_bill] FOREIGN KEY([idBookinginfo])
REFERENCES [dbo].[bookingInfo] ([id])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [fk01_bill]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [fk02_bill] FOREIGN KEY([idBuyinginfo])
REFERENCES [dbo].[buyingInfo] ([id])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [fk02_bill]
GO
ALTER TABLE [dbo].[bookingInfo]  WITH CHECK ADD  CONSTRAINT [fk01_bi] FOREIGN KEY([idField])
REFERENCES [dbo].[field] ([id])
GO
ALTER TABLE [dbo].[bookingInfo] CHECK CONSTRAINT [fk01_bi]
GO
ALTER TABLE [dbo].[buyingInfo]  WITH CHECK ADD  CONSTRAINT [fk01_buy] FOREIGN KEY([idGood])
REFERENCES [dbo].[good] ([id])
GO
ALTER TABLE [dbo].[buyingInfo] CHECK CONSTRAINT [fk01_buy]
GO
ALTER TABLE [dbo].[field]  WITH CHECK ADD  CONSTRAINT [fk01_ac] FOREIGN KEY([idType])
REFERENCES [dbo].[fieldtype] ([id])
GO
ALTER TABLE [dbo].[field] CHECK CONSTRAINT [fk01_ac]
GO
ALTER TABLE [dbo].[good]  WITH CHECK ADD  CONSTRAINT [fk01_gd] FOREIGN KEY([idImage])
REFERENCES [dbo].[image] ([id])
GO
ALTER TABLE [dbo].[good] CHECK CONSTRAINT [fk01_gd]
GO
USE [master]
GO
